
.Offcanvas {
  width: 40% !important;
  background-color: #fbf8f1;
  color: #361500;
  font-weight: bold;
}

.Toggle > span {
    background-image: url("../../assets/menu_fbf8f1.png");
}

.Ebsnav {
  background-image: url("../../assets/nav_img2.png") !important;
  background: #a9927d;
  color: #fbf8f1;
  height: 60px;
}

.Toggle {
    margin-bottom: 10px;
}